<div class="topbar">
    <!-- LOGO -->
    <nav class="navbar-custom">
        <ul class="navbar-right list-inline float-right mb-0">
            <li class="dropdown notification-list list-inline-item d-none d-md-inline-block">
                <form role="search" class="app-search">
                    <div class="form-group mb-0">
                        <input type="text" class="form-control" placeholder="Search..">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </form>
            </li>
            <!-- language-->

            <li class="dropdown notification-list list-inline-item">
                <div class="dropdown notification-list nav-pro-img">
                    <a class="nav-link arrow-none waves-effect nav-user" routerLink="/login" 
                        role="button" aria-haspopup="false" aria-expanded="false"><b>Login</b></a>
                </div>
            </li>
            <li class="dropdown notification-list list-inline-item">
                <div class="dropdown notification-list nav-pro-img">
                    <a class="nav-link arrow-none waves-effect nav-user" routerLink="/list" 
                        role="button" aria-haspopup="false" aria-expanded="false"><b>List</b></a>
                </div>
            </li>
            <li class="dropdown notification-list list-inline-item">
                    <div class="dropdown notification-list nav-pro-img">
                        <a class="nav-link arrow-none waves-effect nav-user" routerLink="/insert" 
                            role="button" aria-haspopup="false" aria-expanded="false"><b>Insert</b></a>
                    </div>
                </li>
        </ul>
        <ul class="list-inline menu-left mb-0">
            <li class=" notification-list list-inline-item d-none d-md-inline-block">
                <a class="nav-link dropdown-toggle arrow-none waves-effect"  [routerLink]="['/']" routerLinkActive="router-link-active" 
                    role="button" aria-haspopup="false" aria-expanded="false"><img
                        src="assets/images/flags/vietnam-flag-icon-64.png" class="mr-2" height="12" alt=""> Trang chủ
                </a>
            </li>
        </ul>
    </nav>
</div>